* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


header h1 {
    color:  #000;
    font-family: Poppins;
    font-weight: 500;
}

body {
    margin: 50px;
}

section {
    display: flex;
    flex-direction: column;
}

section h1 {
    color:  #4F4F4F;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
}

section .box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    max-width: fit-content;
    width: 100%;

}



section .box1 p {
    color: #333333;
    font-family: Ubuntu Mono;
    margin: 10px;
}

.btn {
    border-radius: 6px;
    background: #E0E0E0;
    box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.20);
    width: 81px;
    height: 36px;
    border: none;
    font-family: Poppins;
    cursor: pointer;
    color: #3F3F3F;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    margin: 10px;
}

.btn-hover {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    background: #AEAEAE;
    box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.20);
    border: none;
    color: #3F3F3F;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
}

.btn2 {
    border-radius: 6px;
    border: 1px solid #3D5AFE;
    background: none;
    width: 88px;
    height: 36px;
    margin: 10px;
    color: #3D5AFE;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
}

.btn2-hover {
    border-radius: 6px;
    border: 1px solid #3D5AFE;
    background: rgba(41, 98, 255, 0.10);
    width: 88px;
    height: 36px;
    margin: 10px;
    color: #3D5AFE;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
}

.btn3 {
    color: #3D5AFE;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    border: none;
    background: none;
    margin: 10px;
    cursor: pointer;
    width: 88px;
    height: 36px;
}

.btn3-hover {
    border-radius: 6px;
    background: rgba(41, 98, 255, 0.10);
    width: 88px;
    height: 36px;
    flex-shrink: 0;
    border: none;
    margin: 10px;
    color: #3D5AFE;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
}

.btn4 {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    background: #3D5AFE;
    border: none;
    margin: 10px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    
}

.btn5 {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    border: none;
    margin: 10px;
}

.btn5-disabled {
    width: 81px;
    height: 36px;
    background: none;
    border: none;
    margin: 10px;
}

.btn6 {
    width: 105px;
    height: 36px;
    border-radius: 6px;
    background: #2962FF;
    box-shadow: 0px 2px 3px 0px rgba(0, 49, 202, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
    align-items: center;  
    justify-content: center;
    display: flex;

}

.material-symbols-outlined {
    height: 16px;
    width: 16px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn6-hover {
    width: 105px;
    height: 36px;
    border-radius: 6px;
    background: #2962FF;
    box-shadow: 0px 2px 3px 0px rgba(0, 49, 202, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
    align-items: center;  
    justify-content: center;
    display: flex;
}

.btn7-sm {
    width: 73px;
    height: 32px;
    border-radius: 6px;
    background: #2962FF;
    box-shadow: 0px 2px 3px 0px rgba(0, 49, 202, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.btn7-md {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    background: #2962FF;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.20);
    border: none;
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;

}

.btn7-lg {
    width: 93px;
    height: 42px;
    border-radius: 6px;
    background: #2962FF;
    box-shadow: 0px 2px 3px 0px rgba(0, 49, 202, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.btn8-default {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    background: #E0E0E0;
    box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.20);
    border: none;
    color: #3F3F3F;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.btn8-primary {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    background: #2962FF;
    box-shadow: 0px 2px 3px 0px rgba(41, 98, 255, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.btn8-secondary {
    width: 104px;
    height: 36px;
    border-radius: 6px;
    background: #455A64;
    box-shadow: 0px 2px 3px 0px rgba(69, 90, 100, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.btn8-danger {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    background: #D32F2F;
    box-shadow: 0px 2px 3px 0px rgba(211, 47, 47, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.btn8-default-hover {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    background: #AEAEAE;
    box-shadow: 0px 2px 3px 0px rgba(51, 51, 51, 0.20);
    border: none;
    color: #3F3F3F;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.btn8-primary-hover {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    background: #0039CB;
    box-shadow: 0px 2px 3px 0px rgba(41, 98, 255, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.btn8-secondary-hover {
    width: 104px;
    height: 36px;
    border-radius: 6px;
    background: #1C313A;
    box-shadow: 0px 2px 3px 0px rgba(69, 90, 100, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.btn8-danger-hover {
    width: 81px;
    height: 36px;
    border-radius: 6px;
    background: #9A0007;
    box-shadow: 0px 2px 3px 0px rgba(211, 47, 47, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: Noto Sans JP;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.box2-1 button {
    margin-right: 106px;
}

.box1 .box3-1 p {
    color:  #828282;
    font-size: 12px;
    font-family: Ubuntu Mono;
}

.box1 .box4-1 p {
    color: #A9A9A9;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
}

.box1 .box4-1 p span {
    color: #2962FF;
}













